body {
  font-family: 'Roboto', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  margin: 0;
  padding: 0;
}

#game {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1c1c1c;
  border: 2px solid #00ffcc;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 255, 204, 0.5);
}

#controls {
  margin-bottom: 15px;
}

#universe-select,
#time-select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #00ffcc;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

#travel-button {
  background-color: #00ffcc;
  color: #000;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

#travel-button:hover {
  background-color: #00ccaa;
}

#description {
  padding: 20px;
  background-color: #333;
  border-radius: 15px;
  font-size: 18px;
  line-height: 1.6;
  border: 2px solid #00ffcc;
}

label {
  display: inline-block;
  margin-bottom: 3px;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #00ffcc;
  text-shadow: 2px 2px 4px rgba(0, 255, 204, 0.5);
}

p {
  margin-bottom: 20px;
  text-align: center;
}